.education-card-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 20px 0px;
  margin: 0px auto;
}

.education-card {
  display: flex;
  flex-direction: row;
  justify-content: left;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}

.school-name-mobile {
  font-size: 0;
}

.education-card:hover + .education-card-border {
  border-color: #445c74;
  width: 100%;
  -webkit-transition: width 0.6s ease-in-out;
  -moz-transition: width 0.6s ease-in-out;
  -o-transition: width 0.6s ease-in-out;
  transition: width 0.6s ease-in-out;
}

.education-card:hover .school-name {
  color: #445c74;
}

.education-card:hover .degree-name {
  color: #445c74;
}

.education-card:hover .education-dates {
  color: #445c74;
}

.education-card-border {
  height: 30px;
  width: 90%;
  border-top: 2px solid rgba(211, 211, 211, 0.397);
  margin: 20px 0;
  -webkit-transition: width 0.6s ease-in-out;
  -moz-transition: width 0.6s ease-in-out;
  -o-transition: width 0.6s ease-in-out;
  transition: width 0.6s ease-in-out;
}

.education-img {
  object-fit: fill;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

.degree-details-div {
  margin-left: 2%;
  display: flex;
  flex-direction: column !important;
  text-align: left;
}

.school-name {
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}

.degree-name {
  font-size: 14px;
  margin: 5px 0;
}

.education-dates {
  font-size: 14px;
  font-weight: 700;
  margin: 0;
}

.education-bullets-title {
  font-size: 12px;
  margin: 0;
  padding-top: 0.3em;
}

.education-bullet {
  font-size: 12px;
}

@media (max-width: 1050px) {
  .education-card-container {
    padding: 0;
    transform: scale(0.8);
    width: 100%;
  }

  .education-card {
    display: flex;
    flex-direction: column;
  }

  .education-card-border {
    width: 100%;
  }

  .school-info-div {
    display: flex;
    flex-direction: row;
  }

  .degree-details-div {
    display: flex;
    flex-direction: column;
  }

  .education-img {
    width: 50px;
    height: 75px;
    padding-bottom: 20px;
  }

  .education-card-right {
    order: 1;
  }

  .education-card-left {
    order: 2;
  }
}
